// Variable 
$transit: 0.3s;
$color1: #ff6600;

// Core
* {
    box-sizing: border-box;
}

body{
    font-family: Open Sans;
    font-size: 16px;
    background-color: rgb(218, 218, 218);
    line-height: 1.2;
}

.card{
    position: absolute;
    overflow: hidden;
    max-width: 370px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 20px rgba($color: #000000, $alpha: 1.0);
    transition: box-shadow $transit;

    a{
        color:inherit;
        text-decoration: none;
    }
}

.card:hover{
    box-shadow: 0px 0px 50px rgb(0, 0, 0);
}

.card__date{
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 5px;
    background-color: $color1;
    border-radius: 50%;
    color: white;
    text-align: center;
    line-height: 1;
}

.card__date__day{
    font-size: 15px;
}
.card__date__month{
    font-size: 15px;
}

.card__image{
    height: 235px;
    background-color: rgb(34, 34, 34);
    overflow: hidden;
    transition-duration: $transit;

    img{
        display: block;
        opacity: 1;
        transition: opacity $transit, transform $transit;
        transform: scale(1);
    }

    .card:hover & img{
        opacity: 0.3;
        transform: scale(1.2);
    }

    .card:hover &{
        height: 145px;
    }
}

.card__body{
    
    position: relative;
    padding: 20px;
    height: 145px;
    transition: height $transit;
    
    .card:hover &{
        height: 145px + 100px;
    }
}

.card__categorie{
    position: absolute;
    left:0;
    top:-25px;
    height: 25px;
    padding: 0 15px;
    background-color: $color1;
    color:rgb(255, 255, 255);
    font-size: 11px;
    line-height: 25px;
    //color: inherit;
    text-transform: uppercase;
}

.card__title{
    padding: 0 0 15px 0;
    margin: 0;
    font-size: 22px;
    color:#000000;
    font-weight: bold;
}

.card__subtitle{
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: $color1;
}

.card__description{
    color: rgba($color: #535353, $alpha: 1.0);
    font-size: 18px;
    line-height: 20px;

    opacity: 0;
    transition: opacity $transit;
    .card:hover &{
        opacity: 1;
    }
}

.card__footer{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right:20px;
    font-size: 11px;
    color: #9c9c9c
}